.card {
    border: 2px solid #666;
    padding: 1rem;
    border-radius: 15px;
    margin: 0.5rem 0;
  }
  
  .bodyText {
    margin-top: 1rem;
  }
  
  .svgIcons {
    cursor: pointer;
  }
  
  .titleContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .editBtn {
    margin-top: 1rem;
  }
  
