.mainContainer {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  align-items: center;
}
.formInput {
  padding: 1rem;
  font-family: Mooli;
  font-size: 1rem;
  border-radius: 1rem;
  border: 2px solid #0d9340;

}
.inputsContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 0.5rem;
}
.submitBtn {
  padding: 1rem;
  font-family: Mooli;
  font-size: 1rem;
  font-weight: 600;
  background-color: #0d9340;
  color: #fff;
  border-radius: 1rem;
  border: 2px solid #015822;
  cursor: pointer;
}
.title {
  width: fit-content;
}
.question {
  margin: 1rem 0;
}


.formInputDescricao {
  padding: 1rem;
  font-family: Mooli;
  font-size: 1rem;
  border-radius: 1rem;
  border: 2px solid #0d9340;
  width: 500px;
}