<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/css/header.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mooli&display=swap"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <title>Cadastro de Proposta</title>
  </head>
  <body>
    <div class="mainContainer">
      <h1 class="title">Envie uma proposta aqui</h1>

      <!-- Empresas que podem receber propostas desta empresa devem aparecer listadas aqui-->

      <h1 class="title">Criar Proposta</h1>

      <!-- Formulário para criar propostas -->
      <form onsubmit="onSubmit(event)" id="signup">
        <div class="inputsContainer">
          <input
            type="text"
            id="titulo"
            name="titulo"
            class="formInput"
            placeholder="Digite o título da proposta"
            required
          />
          <textarea
            type="text"
            id="descricao"
            name="descricao"
            class="formInputDescricao"
            placeholder="Descreva a proposta"
            required
          ></textarea>
          
        </div>
        <div class="inputsContainer">
          <input type="submit" class="submitBtn" value="Enviar" />
        </div>
      </form>
    </div>

    <script type="text/javascript" src="/eel.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/proposta.js"></script>
  </body>
</html>
