<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/css/cadastroOrganizacao.css"/>
    <link rel="stylesheet" type="text/css" href="/css/header.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Mooli&display=swap"
            rel="stylesheet"
    />
    <title>Cadastro Startup</title>
</head>
<body>
<div class="mainContainer">

    <h1 class="title">Cadastre a sua startup aqui</h1>
    <form onsubmit="onSubmit(event)" id="signup">
        <div class="inputsContainer">
            <p class="question">Nome:</p>
            <input
                    type="text"
                    name="nome"
                    class="formInput"
                    placeholder="Digite o nome da startup"
                    required
            />
            <p class="question">CNPJ:</p>
            <input
                    type="text"
                    name="cnpj"
                    class="formInput"
                    placeholder="Digite o CPNJ da startup"
                    required
            />
            <p class="question">CNAE:</p>
            <input
                    type="text"
                    name="cnae"
                    class="formInput"
                    placeholder="Digite o CNAE da startup"
                    required
            />
            <p class="question">Setor:</p>
            <input
                    type="text"
                    name="setor"
                    class="formInput"
                    placeholder="Digite o setor da startup"
                    required
            />
            <p class="question">Região:</p>
            <input
                    type="text"
                    name="region"
                    class="formInput"
                    placeholder="Em qual região do país atua"
                    required
            />
            <p class="question">Tipo de atividade(produto ou serviço):</p>
            <input
                    type="text"
                    name="activityType"
                    class="formInput"
                    placeholder="Digite o tipo de atividade"
                    required
            />
            <p class="question">Serviços oferecidos:</p>
            <span class="legenda">1 - Consultoria em desenvolvimento de software</span>
            <span class="legenda">2 - Desenvolvimento de sistemas móveis</span>
            <span class="legenda">3 - Desenvolvimento de sistemas embarcados</span>
            <span class="legenda">4 - Desenvolvimento de sistemas operacionais</span>
            <span class="legenda">5 - Gestão de TI</span>
            <input
                    type="text"
                    name="offeredServices"
                    class="formInput"
                    placeholder="Digite o número conforme a legenda"
                    required
            />
            <p class="question">Produtos oferecidos:</p>
            <span class="legenda">1 - ERP</span>
            <span class="legenda">2 - Software de gestão PDV</span>
            <span class="legenda">3 - Hardware</span>
            <span class="legenda">4 - Software de monitoramento</span>
            <span class="legenda">5 - Autônomos</span>
            <input
                    type="text"
                    name="offeredProducts"
                    class="formInput"
                    placeholder="Digite o número conforme a legenda"
                    required
            />
            <p class="question">Possui certificação?</p>
            <input
                    type="text"
                    name="hasCertification"
                    class="formInput"
                    placeholder="Digite sim ou não"
                    required
            />
            <p class="question">Tem produto próprio?</p>
            <input
                    type="text"
                    name="hasOwnProduct"
                    class="formInput"
                    placeholder="Digite sim ou não"
                    required
            />
            <p class="question">Pratica trabalho remoto?</p>
            <input
                    type="text"
                    name="doesRemoteWork"
                    class="formInput"
                    placeholder="Digite sim ou não"
                    required
            />
            <p class="question">Já possui parcerias?</p>
            <input
                    type="text"
                    name="hasOtherPartners"
                    class="formInput"
                    placeholder="Digite sim ou não"
                    required
            />
        </div>
        <div class="inputsContainer">
            <input type="submit" class="submitBtn" value="Enviar"/>
        </div>
    </form>
</div>

<script type="text/javascript" src="/eel.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript" src="/js/startup.js"></script>
</body>
</html>
