<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/gerenciarStartup.css" />
    <link rel="stylesheet" type="text/css" href="/css/header.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mooli&display=swap"
      rel="stylesheet"
    />
    <title>Gerenciar Startups</title>
  </head>
  <body>
    <div class="mainContainer">
      <h1 class="title">Gerencie as startups aqui</h1>
      <div class="inputsContainer" id="logBtn">
        <button class="submitBtn" onclick="logList()">
          Visualizar startups
        </button>
      </div>
    </div>

    <script type="text/javascript" src="/eel.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
  </body>
</html>
