<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/gerenciarOrganizacao.css" />
    <link rel="stylesheet" type="text/css" href="./css/header.css">
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <link rel="stylesheet" type="text/css" href="./css/eventos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mooli&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <title>Eventos</title>
</head>

<body>
    <div class="mainContainer">

        <h1 class="title">Gerencie os eventos aqui</h1>
        <div class="inputsContainer" id="logBtn">
            <button class="submitBtn" onclick="logList()">
                Visualizar Eventos
            </button>
        </div>
        <div class="eventList"></div>
        <!-- Aqui serão adicionados os eventos como cards -->
    </div>


    <script type="text/javascript" src="/eel.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/evento.js"></script>
</body>

</html>